@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

h1 h2 h3 p {
  font-family: 'Abhaya Libre', serif;
}

h3 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 200;
}

p {
  font-family: 'Abhaya Libre', serif;
}

h1 {
  font-style: italic;
  color: #153555;
  font-family: 'Abhaya Libre', serif;
  font-size: 140%;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}


h2 {
  font-size: 180%;
  font-family: 'Abhaya Libre', serif;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #153555;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #153555;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-city {
  padding: 0;
  margin-top: 70px;
  margin-left: 'auto';
  margin-right: 'auto';
}
.section-city h3 {
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  font-family: 'Abhaya Libre', serif;
  font-size: 15px;
  font-weight: 400;
}
html {
  background-color: #153555;
}

section {
  padding: 80px 0;
}
.section-steps {
  background-color: #153555;
}
.section-badges {
  background-color: #f4f4f4ef;
  padding: 80px 0;
  margin-bottom: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-flat {
  background-color: #153555;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bi {
  color: #153555;
}

.bi-facebook:hover {
  color: #3b5998;
}

.section-contact {
  background-color: #f3f3f3;
  padding-bottom: 80px;
}


.bi-linkedin:hover {
  color: #0e76a8;
}
.bi-facebook,
.bi-linkedin {
  transition: color 0.8s;
  margin-right: 5px;
  margin-left: 5px;
}
.main-nav {
  float: center;
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav li {
  display: block;
  font-weight: bold;
}

.main-nav h4 {
  float: center;
  margin: 5px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding-top: 8px 0;
  color: #153555;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1.2s;
  float: center;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #153555;
}

.hero-img {

  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(imgs/hero.png);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 95vh;
  padding: 20px;
}

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #153555;
  border: 1px solid #153555;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #153555;
  color: #153555;
  
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #0e243a;
  color: #fff;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #0e243a;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #0e243a;
  color: #fff;
}


footer {
  background-color: #333;
  padding: 10px;
  font-size: 80%;
}

.footer-nav {
  margin-right: 20px;
  list-style: none;
  float: right;
  color: #888888;
}

.social-bottom {
  color: #2D5883;
}
.social-links {
  list-style: none;
  float: right;
}

.social-links-top ion-icon {
  font-size: 160%;
}


.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.social-links ion-icon,
.social-links li a:link,
.social-links li a:visited,
.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition:color 0.2;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 10px;

}

.facebook ion-icon:hover {
  color: #3b5998;
}

.twitter ion-icon:hover {
  color: #00aced;
}

.google ion-icon:hover {
  color: #dd4b39;
}

.instagram ion-icon:hover {
  color: #517fa4;
}
.linkedin ion-icon:hover {
  color: #0e76a8;
}
.facebook ion-icon,
.linkedin ion-icon {
  transition: color 0.8s;
  margin-right: 5px;
  margin-left: 5px;
}